# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/mydb
MONGODB_DB=location_tracking

# JWT
JWT_SECRET=your_jwt_secret

# Ambiente
NODE_ENV=development

# Solo para desarrollo
SKIP_AUTH=false
