# MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=tracking_system

# DynamoDB
DYNAMODB_ENDPOINT=http://localhost:8000
CONNECTIONS_TABLE=gps-tracking-system-connections-dev
MOCK_DYNAMODB=true

# Auth
JWT_SECRET=my-secret-for-development
IS_OFFLINE=true
NODE_ENV=development

# WebSocket
WEBSOCKET_ENABLED=true
WEBSOCKET_API_ID=local
